parameters:
    level: 5
    paths:
        - classes
        - index.php
    excludePaths:
        - tests
    checkMissingIterableValueType: false

    ignoreErrors:
        # - '#Undefined variable: \$this#'
